<div class="container">
    <div class="row">
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
          
              <!-- Product ID Column -->
              <ng-container matColumnDef="OrderId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Id </th>
                <td mat-cell *matCellDef="let row"> {{row.OrderId}} </td>
              </ng-container>
          
              <!-- Product Name Column -->
              <ng-container matColumnDef="OrderDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </th>
                <td mat-cell *matCellDef="let row"> {{row.OrderDate}} </td>
              </ng-container>
          
              <!-- Product Price  Column -->
              <ng-container matColumnDef="UserId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> User Id </th>
                <td mat-cell *matCellDef="let row"> {{row.UserId}} </td>
              </ng-container>
          
              <!-- Available Pieces Column -->
              <ng-container matColumnDef="PaymentType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Type </th>
                <td mat-cell *matCellDef="let row"> {{row.PaymentType}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="clickable" (click)="openOrderDetals(row.OrderId)"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
          
    </div>
</div>